_minted*
*.new
*.core
WebKitWebProcess.core

# LaTeX build artifacts 
*.aux
*.log
*.out
*.toc
*.nav
*.snm
*.vrb

# Ignore specific intermediate .tex files but keep PDFs
/presentation.tex
/personas/gadfly/paradigms_lost.tex
.tmp/
