# Environment files
.env
.env*
.envrc
.python-version
.venv
.direnv/

# Generated images
#images/*.png
images/tmp/
images/png/
images/gemini/
images/khoj/
images/dalle/
images/backup/
images/scaled/

# Development files
issues/
uv.lock
__pycache__/
*.py[cod]
*$py.class

tmp/

